.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

mat-card {
  width: 600px;
  margin: 20px;
  padding: 20px;
}


mat-form-field {
  margin-inline: 20px;
}

button {
  margin: 20px;
}

mat-card-title {
  margin-left: 35px;
  margin-bottom: 20px;
}

.spacer {
  flex: 1 1 auto;
}
